# REGRESSION PROJECT - HOUSE PRICES

Background: You are working as an analyst for a real estate company. Your company wants to build a machine learning model to predict the selling prices of houses based on a variety of features on which the value of the house is evaluated.

Objective: The task is to build a model that will predict the price of a house based on features provided in the dataset. The senior management also wants to explore the characteristics of the houses using some business intelligence tool. One of those parameters include understanding which factors are responsible for higher property value - $650K and above. The questions have been provided later in the document for which you can use tableau.

Data: The data set consists of information on some 22,000 properties.  The dataset consisted of historic data of houses sold between May 2014 to May 2015. These are the definitions of data points provided: (Note: For some of the variables that are self explanatory, no definition has been provided)

## Notes for next project
- Visualization
- Documentation
- Plan the project better
- Replace manual steps using more and more functions (data cleaning)
- Study and understand topic better
- Add analysis and learnings after each visual

## Importing Libraries

In [4]:
import pandas as pd
import numpy as np
import seaborn as sns

## Importing Data

In [5]:
data = pd.read_csv(r"C:\Users\nicol\mid-bootcamp-project\mid-bootcamp-project-1\regression\data\regression_data.csv")

## Reviewing Data

In [6]:
data.shape

(21597, 21)

In [7]:
data.head()

,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price
0,7129300520,10/13/14,3,1.00,1180,5650,1.0,0,0,3,...,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,221900
1,6414100192,12/9/14,3,2.25,2570,7242,2.0,0,0,3,...,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,538000
2,5631500400,2/25/15,2,1.00,770,10000,1.0,0,0,3,...,770,0,1933,0,98028,47.7379,-122.233,2720,8062,180000
3,2487200875,12/9/14,4,3.00,1960,5000,1.0,0,0,5,...,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,604000
4,1954400510,2/18/15,3,2.00,1680,8080,1.0,0,0,3,...,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,510000

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21597 non-null  int64
 1   date           21597 non-null  object
 2   bedrooms       21597 non-null  int64
 3   bathrooms      21597 non-null  float64
 4   sqft_living    21597 non-null  int64
 5   sqft_lot       21597 non-null  int64
 6   floors         21597 non-null  float64
 7   waterfront     21597 non-null  int64
 8   view           21597 non-null  int64
 9   condition      21597 non-null  int64
 10  grade          21597 non-null  int64
 11  sqft_above     21597 non-null  int64
 12  sqft_basement  21597 non-null  int64
 13  yr_built       21597 non-null  int64
 14  yr_renovated   21597 non-null  int64
 15  zipcode        21597 non-null  int64
 16  lat            21597 non-null  float64
 17  long           21597 non-null  float64
 18  sqft_living15  21597 non-null  int64
 19  sqft_lot15     21597 non-null  int64
 20  price          21597 non-null  int64
dtypes: float64(4), int64(16), object(1)
memory usage: 3.5+ MB

In [9]:
data.dtypes

id                 int64
date              object
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
price              int64
dtype: object

In [11]:
# check unique values present in dataset

for col in data:
    print(data[col].value_counts(), '\n')
    
# id is not a unique number -> to investigate further what it means to have one listing of an id several times
# convert date to date
# waterfront yes or no
# view is stored in some kind of scoring 0-4
# condition is stored in some kind of scoring 1-5
# grade is stored in some kind of scoring 3-13
# null value within yr_renovation represents that the house has not been renovated -> bool for build or renovated in the previous years (categories)
# as we already have the zip code I assume we can drop latitude and longitude

795000620     3
1825069031    2
2019200220    2
7129304540    2
1781500435    2
             ..
7812801125    1
4364700875    1
3021059276    1
880000205     1
1777500160    1
Name: id, Length: 21420, dtype: int64

6/23/14    142
6/25/14    131
6/26/14    131
7/8/14     127
4/27/15    126
          ...
8/30/14      1
3/8/15       1
5/27/15      1
7/27/14      1
5/24/15      1
Name: date, Length: 372, dtype: int64

3     9824
4     6882
2     2760
5     1601
6      272
1      196
7       38
8       13
9        6
10       3
11       1
33       1
Name: bedrooms, dtype: int64

2.50    5377
1.00    3851
1.75    3048
2.25    2047
2.00    1930
1.50    1445
2.75    1185
3.00     753
3.50     731
3.25     589
3.75     155
4.00     136
4.50     100
4.25      79
0.75      71
4.75      23
5.00      21
5.25      13
5.50      10
1.25       9
6.00       6
5.75       4
0.50       4
8.00       2
6.25       2
6.75       2
6.50       2
7.50       1
7.75       1
Name: bathrooms, dtype: int64

1300    138
1400    135
1440    133
1660    129
1010    129
       ...
4970      1
2905      1
2793      1
4810      1
1975      1
Name: sqft_living, Length: 1034, dtype: int64

5000      358
6000      290
4000      251
7200      220
7500      119
         ...
1448        1
38884       1
17313       1
35752       1
315374      1
Name: sqft_lot, Length: 9776, dtype: int64

1.0    10673
2.0     8235
1.5     1910
3.0      611
2.5      161
3.5        7
Name: floors, dtype: int64

0    21434
1      163
Name: waterfront, dtype: int64

0    19475
2      961
3      510
1      332
4      319
Name: view, dtype: int64

3    14020
4     5677
5     1701
2      170
1       29
Name: condition, dtype: int64

7     8974
8     6065
9     2615
6     2038
10    1134
11     399
5      242
12      89
4       27
13      13
3        1
Name: grade, dtype: int64

1300    212
1010    210
1200    206
1220    192
1140    184
       ...
2601      1
440       1
2473      1
2441      1
1975      1
Name: sqft_above, Length: 942, dtype: int64

0       13110
600       221
700       218
500       214
800       206
        ...
792         1
2590        1
935         1
2390        1
248         1
Name: sqft_basement, Length: 306, dtype: int64

2014    559
2006    453
2005    450
2004    433
2003    420
       ...
1933     30
1901     29
1902     27
1935     24
1934     21
Name: yr_built, Length: 116, dtype: int64

0       20683
2014       91
2013       37
2003       36
2000       35
        ...
1934        1
1959        1
1951        1
1948        1
1944        1
Name: yr_renovated, Length: 70, dtype: int64

98103    602
98038    589
98115    583
98052    574
98117    553
        ...
98102    104
98010    100
98024     80
98148     57
98039     50
Name: zipcode, Length: 70, dtype: int64

47.6624    17
47.5322    17
47.6846    17
47.5491    17
47.6886    16
           ..
47.2495     1
47.3847     1
47.4142     1
47.4237     1
47.2715     1
Name: lat, Length: 5033, dtype: int64

-122.290    115
-122.300    111
-122.362    104
-122.291    100
-122.372     99
           ...
-121.403      1
-121.804      1
-121.726      1
-121.895      1
-121.893      1
Name: long, Length: 751, dtype: int64

1540    197
1440    195
1560    192
1500    180
1460    169
       ...
4890      1
2873      1
952       1
3193      1
2049      1
Name: sqft_living15, Length: 777, dtype: int64

5000      427
4000      356
6000      288
7200      210
4800      145
         ...
11036       1
8989        1
871200      1
809         1
6147        1
Name: sqft_lot15, Length: 8682, dtype: int64

450000    172
350000    172
550000    159
500000    152
425000    150
         ...
788600      1
700180      1
436300      1
329800      1
435010      1
Name: price, Length: 3622, dtype: int64

In [12]:
# check not unique ids

data[data.duplicated(subset=['id'],keep=False)].sort_values(by=['id'])

# some houses are listed more than once with different prices
# all other data seems to be unchanged
# my first guess is to remove duplicate id's to not impact our model

,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price
2495,1000102,4/22/15,6,3.00,2400,9373,2.0,0,0,3,...,2400,0,1991,0,98002,47.3262,-122.214,2060,7316,300000
2494,1000102,9/16/14,6,3.00,2400,9373,2.0,0,0,3,...,2400,0,1991,0,98002,47.3262,-122.214,2060,7316,280000
16800,7200179,10/16/14,2,1.00,840,12750,1.0,0,0,3,...,840,0,1925,0,98055,47.4840,-122.211,1480,6969,150000
16801,7200179,4/24/15,2,1.00,840,12750,1.0,0,0,3,...,840,0,1925,0,98055,47.4840,-122.211,1480,6969,175000
11422,109200390,10/20/14,3,1.75,1480,3900,1.0,0,0,4,...,1480,0,1980,0,98023,47.2977,-122.367,1830,6956,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6339,9828200460,6/27/14,2,1.00,700,4800,1.0,0,0,3,...,700,0,1922,0,98122,47.6147,-122.300,1440,4800,260000
15186,9834200305,2/10/15,3,1.00,1790,3876,1.5,0,0,5,...,1090,700,1904,0,98144,47.5750,-122.288,1360,4080,615000
15185,9834200305,7/16/14,3,1.00,1790,3876,1.5,0,0,5,...,1090,700,1904,0,98144,47.5750,-122.288,1360,4080,350000
1084,9834200885,7/17/14,4,2.50,2080,4080,1.0,0,0,5,...,1040,1040,1962,0,98144,47.5720,-122.290,1340,4080,360000
1085,9834200885,4/20/15,4,2.50,2080,4080,1.0,0,0,5,...,1040,1040,1962,0,98144,47.5720,-122.290,1340,4080,550000

In [13]:
# no null values present in the dataset

data.isna().any()

id               False
date             False
bedrooms         False
bathrooms        False
sqft_living      False
sqft_lot         False
floors           False
waterfront       False
view             False
condition        False
grade            False
sqft_above       False
sqft_basement    False
yr_built         False
yr_renovated     False
zipcode          False
lat              False
long             False
sqft_living15    False
sqft_lot15       False
price            False
dtype: bool

In [14]:
# no null values present in the dataset

data.isnull().sum()

id               0
date             0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
price            0
dtype: int64

In [15]:
# add comments and learnings after each step - e.g. here I could add what dtypes might be critical

In [16]:
data.describe()

,id,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price
count,2.159700e+04,21597.000000,21597.000000,21597.000000,2.159700e+04,21597.000000,21597.000000,21597.000000,21597.000000,21597.000000,21597.000000,21597.000000,21597.000000,21597.000000,21597.000000,21597.000000,21597.000000,21597.000000,21597.000000,2.159700e+04
mean,4.580474e+09,3.373200,2.115826,2080.321850,1.509941e+04,1.494096,0.007547,0.234292,3.409825,7.657915,1788.596842,291.725008,1970.999676,84.464787,98077.951845,47.560093,-122.213982,1986.620318,12758.283512,5.402966e+05
std,2.876736e+09,0.926299,0.768984,918.106125,4.141264e+04,0.539683,0.086549,0.766390,0.650546,1.173200,827.759761,442.667800,29.375234,401.821438,53.513072,0.138552,0.140724,685.230472,27274.441950,3.673681e+05
min,1.000102e+06,1.000000,0.500000,370.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,3.000000,370.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000,7.800000e+04
25%,2.123049e+09,3.000000,1.750000,1430.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471100,-122.328000,1490.000000,5100.000000,3.220000e+05
50%,3.904930e+09,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.231000,1840.000000,7620.000000,4.500000e+05
75%,7.308900e+09,4.000000,2.500000,2550.000000,1.068500e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000,6.450000e+05
max,9.900000e+09,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000,7.700000e+06

In [17]:
# many of the numerical columns seem to be more of categorical character than numerical
# to investigate this further I want to check correlations between columsn

In [20]:
# checking how many different loans of each type and operation

#def crosstab(x):
#    for i in data:
        
        
pd.crosstab(data['condition'], data['price'])

price,78000,80000,81000,82000,82500,83000,84000,85000,86500,89000,...,4490000,4500000,4670000,5110000,5300000,5350000,5570000,6890000,7060000,7700000
condition,,,,,,,,,,,,,,,,,,,,,
1,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,1,0,1,1,2,1,0,...,1,1,1,1,0,1,1,1,1,0
4,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,1
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [23]:
# correlation matrix

data.corr()

,id,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price
id,1.000000,0.001150,0.005162,-0.012241,-0.131911,0.018608,-0.002727,0.011536,-0.023803,0.008188,-0.010799,-0.005193,0.021617,-0.016925,-0.008211,-0.001798,0.020672,-0.002701,-0.138557,-0.016772
bedrooms,0.001150,1.000000,0.514508,0.578212,0.032471,0.177944,-0.006834,0.080008,0.026496,0.356563,0.479386,0.302808,0.155670,0.018389,-0.154092,-0.009951,0.132054,0.393406,0.030690,0.308787
bathrooms,0.005162,0.514508,1.000000,0.755758,0.088373,0.502582,0.063744,0.188386,-0.126479,0.665838,0.686668,0.283440,0.507173,0.050544,-0.204786,0.024280,0.224903,0.569884,0.088303,0.525906
sqft_living,-0.012241,0.578212,0.755758,1.000000,0.173453,0.353953,0.103854,0.284709,-0.059445,0.762779,0.876448,0.435130,0.318152,0.055308,-0.199802,0.052155,0.241214,0.756402,0.184342,0.701917
sqft_lot,-0.131911,0.032471,0.088373,0.173453,1.000000,-0.004814,0.021632,0.074900,-0.008830,0.114731,0.184139,0.015418,0.052946,0.007686,-0.129586,-0.085514,0.230227,0.144763,0.718204,0.089876
floors,0.018608,0.177944,0.502582,0.353953,-0.004814,1.000000,0.023755,0.028814,-0.264075,0.458794,0.523989,-0.245715,0.489193,0.006427,-0.059541,0.049239,0.125943,0.280102,-0.010722,0.256804
waterfront,-0.002727,-0.006834,0.063744,0.103854,0.021632,0.023755,1.000000,0.401971,0.016611,0.082888,0.072109,0.080559,-0.026153,0.092873,0.030272,-0.014306,-0.041904,0.086507,0.030781,0.266398
view,0.011536,0.080008,0.188386,0.284709,0.074900,0.028814,0.401971,1.000000,0.045999,0.251728,0.167609,0.277078,-0.053636,0.103951,0.084622,0.005871,-0.078107,0.280681,0.072904,0.397370
condition,-0.023803,0.026496,-0.126479,-0.059445,-0.008830,-0.264075,0.016611,0.045999,1.000000,-0.146896,-0.158904,0.173849,-0.361592,-0.060788,0.002888,-0.015102,-0.105877,-0.093072,-0.003126,0.036056
grade,0.008188,0.356563,0.665838,0.762779,0.114731,0.458794,0.082888,0.251728,-0.146896,1.000000,0.756073,0.168220,0.447865,0.014261,-0.185771,0.113575,0.200341,0.713867,0.120981,0.667951
sqft_above,-0.010799,0.479386,0.686668,0.876448,0.184139,0.523989,0.072109,0.167609,-0.158904,0.756073,1.000000,-0.052156,0.424037,0.023251,-0.261570,-0.001199,0.344842,0.731767,0.195077,0.605368
sqft_basement,-0.005193,0.302808,0.283440,0.435130,0.015418,-0.245715,0.080559,0.277078,0.173849,0.168220,-0.052156,1.000000,-0.133064,0.071233,0.074725,0.110414,-0.144546,0.200443,0.017550,0.323799
yr_built,0.021617,0.155670,0.507173,0.318152,0.052946,0.489193,-0.026153,-0.053636,-0.361592,0.447865,0.424037,-0.133064,1.000000,-0.224907,-0.347210,-0.148370,0.409993,0.326377,0.070777,0.053953
yr_renovated,-0.016925,0.018389,0.050544,0.055308,0.007686,0.006427,0.092873,0.103951,-0.060788,0.014261,0.023251,0.071233,-0.224907,1.000000,0.064325,0.029350,-0.068321,-0.002695,0.007944,0.126424
zipcode,-0.008211,-0.154092,-0.204786,-0.199802,-0.129586,-0.059541,0.030272,0.084622,0.002888,-0.185771,-0.261570,0.074725,-0.347210,0.064325,1.000000,0.266742,-0.564259,-0.279299,-0.147294,-0.053402
lat,-0.001798,-0.009951,0.024280,0.052155,-0.085514,0.049239,-0.014306,0.005871,-0.015102,0.113575,-0.001199,0.110414,-0.148370,0.029350,0.266742,1.000000,-0.135371,0.048679,-0.086139,0.306692
long,0.020672,0.132054,0.224903,0.241214,0.230227,0.125943,-0.041904,-0.078107,-0.105877,0.200341,0.344842,-0.144546,0.409993,-0.068321,-0.564259,-0.135371,1.000000,0.335626,0.255586,0.022036
sqft_living15,-0.002701,0.393406,0.569884,0.756402,0.144763,0.280102,0.086507,0.280681,-0.093072,0.713867,0.731767,0.200443,0.326377,-0.002695,-0.279299,0.048679,0.335626,1.000000,0.183515,0.585241
sqft_lot15,-0.138557,0.030690,0.088303,0.184342,0.718204,-0.010722,0.030781,0.072904,-0.003126,0.120981,0.195077,0.017550,0.070777,0.007944,-0.147294,-0.086139,0.255586,0.183515,1.000000,0.082845
price,-0.016772,0.308787,0.525906,0.701917,0.089876,0.256804,0.266398,0.397370,0.036056,0.667951,0.605368,0.323799,0.053953,0.126424,-0.053402,0.306692,0.022036,0.585241,0.082845,1.000000

In [19]:
# change dtypes for categorical numerical columns

# waterfront is a boolean column (1=waterfront, 0=no waterfront)
# view is a categorical column with some kind of scoring
# condition is a categorical column with some kind of scoring
# grade is a categorical column with some kind of scoring
# yr_built is a categorical column which represents a year
# yr_renovated is a categorical column which represents a year
# zipcode is a categorical column which represents a location
# lat is a categorical column which represents a location
# long is a categorical column which represents a location

def recategorize(x):
    if 


data['duration'] = data['duration'].astype('object')

## Data cleaning

### Standardize

In [45]:
# column names don't need to be adjusted 
# no difficult to read titles
# no upper case
# empty spaces

### Categorial data

In [6]:
cat = df1.select_dtypes('object')
cat

NameError: name 'df1' is not defined

### Numerical data

### Null and zero values

In [ ]:
data.isnull().sum().sort_values(ascending=False)

### Drop columns

In [ ]:
data.drop('director', axis=1)

In [ ]:
# check if drop:
# date - date of listing does not add any value to the model
# lat - as we already have a variable for the geographical location the latitude is not needed
# long - as we already have a variable for the geographical location the longitude is not needed

## Drop Duplicates

In [ ]:
#drop_duplicates: data duplicated because of disagreement in releaase_year
df_netflix.drop_duplicates(['title'], keep='first', inplace=True)

In [ ]:
# drop double listings of houses

def drop_duplicates(x):
    for col in data:
        if data[data.duplicated(subset=['id'],keep=False)]

## Outliers

In [ ]:
# boxplot to check outliers

for column in continuous.select_dtypes(np.number).columns:
    sns.boxplot(continuous[column])
    plt.show()
    
# variables to remove outliers are customer_lifetime_value, monthly_premium_auto, total_claim_amount

In [ ]:
def remove_outliers(df, threshold=1.5, in_columns=df.select_dtypes(np.number).columns, skip_columns=[]):
    for column in in_columns:
        if column not in skip_columns:
            upper = np.percentile(df[column],75)
            lower = np.percentile(df[column],25)
            iqr = upper - lower
            upper_limit = upper + (threshold * iqr)
            lower_limit = lower - (threshold * iqr)
            df = df[(df[column]>lower_limit) & (df[column]<upper_limit)]
    return df

In [ ]:
data1 = remove_outliers(data, threshold=1, in_columns=['customer_lifetime_value', 'monthly_premium_auto', 'total_claim_amount'])

In [ ]:
# boxplot to check outliers for outliers again

for column in continuous.select_dtypes(np.number).columns:
    sns.boxplot(continuous[column])
    plt.show()
    
# variables to remove outliers are customer_lifetime_value, monthly_premium_auto, total_claim_amount

## Data Imbalances

## Normalize Data

## Model

In [ ]:
## x\y split

X = df.drop('price', axis=1)
y = df['price']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=123)

## Evaluate Quality of the Model

## Try something else

## Visualizations

## Conclusion